*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#base {
  width: min(95vw, 1280px);
  height: min(95vh, 720px);
  min-width: 1100px;
  min-height: 600px;
  background-color: #323232;
}

.title_box {
  width: 280px;
  height: 100%;
  border-right: solid lightgray;
}
.title_box .title_up_box {
  width: 100%;
  height: 300px;
  font-size: 30pt;
  font-weight: bold;
  font-style: italic;
  line-height: 50px;
  color: #d3d3d3;
}
.title_box .title_up_box p {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.title_box .title_down_box {
  width: 100%;
  text-align: center;
  margin-bottom: 20px ;
  font-size: 10pt;
  font-style: normal;
  line-height: 16px;
  color: #d3d3d3;
}

.contents_box {
  width: calc(max(min(95vw, 1280px), 1100px) - 280px);
  height: 100%;
}
.contents_box .nav_box {
  width: 100%;
  height: 120px;
  border-bottom: solid lightgray;
  position: relative;
}
.contents_box .nav_box img {
  width: 30px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.contents_box .section_box {
  width: 100%;
  height: calc(100% - 120px);
}
.contents_box .section_box .article_box {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  background-image: url(/img/back.png);
}
.contents_box .section_box .article_box .inner_article_box {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 10;
  padding: 70px 40px ;
}
.contents_box .section_box .article_box .inner_article_box .text_box {
  color: #d3d3d3;
}
.contents_box .section_box .article_box .inner_article_box .text_box * {
  margin-bottom: 15px ;
}
.contents_box .section_box .article_box .inner_article_box img {
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transform-origin: bottom left;
  width: 100%;
  display: block;
}
.contents_box .section_box .article_box::after {
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background-color: #323232;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transform-origin: right;
}
.contents_box .section_box .article_box:hover {
  opacity: 1;
}
.contents_box .section_box .article_box:hover::after {
  transform: scaleX(0);
}
.contents_box .section_box .article_box:hover img {
  transform: scale(120%);
}

.bg-color-cde8ff {
  width: 100%;
  height: 100%;
  background-color: #cde8ff;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}

#main {
  width: 100%;
  height: 600px;
  min-width: 600px;
  position: relative;
  z-index: 10;
}

.line_box {
  width: 100%;
  height: 100px;
  margin-bottom: 10px ;
}

.item {
  width: 100px;
  height: 100px;
  margin: 0 5px ;
  border: solid #FFFFFF;
  border-radius: 10px;
  background-color: #d3d3d3;
  transform: skewX(-12deg);
  transition: transform 0.1s ease, background-color 0.5s;
  overflow: hidden;
}
.item:hover {
  transform: skewX(-12deg) scale(120%);
  background-color: #ffa500;
}
.item img {
  display: block;
  width: 100%;
  height: 100%;
  transform: skewX(12deg);
  -o-object-fit: cover;
     object-fit: cover;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-flex, .flex-column-reverse, .flex-row-reverse, .flex-column, .title_box, .title_box .title_up_box, .contents_box, .contents_box .section_box .article_box .inner_article_box, .flex-row, #base, .contents_box .section_box, .line_box {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: safe center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column, .title_box, .title_box .title_up_box, .contents_box, .contents_box .section_box .article_box .inner_article_box {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}/*# sourceMappingURL=main.css.map */