* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
}
#main {
    margin: 50px auto;
    display: flex; flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
}
.row>div {
    width: 95px; height: 100px; margin: 8px;
    background-color: gray;
    border: 2px solid white; border-radius: 10px;
    transform: skewX(-15deg);
    overflow: hidden;
    position: relative;
}
.row>div img {
    width: 120%; height: 100%;
    transform: skewX(15deg);
    position: absolute;
    top: 0px; left: -10px;
}
.row>div:hover {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    background-color: pink;
    transform: skewX(-15deg) scale(1.5);
    z-index: 1;
}