// Utilities
@mixin generate-display-utilities {
  @each $d in $displays {
    .d-#{$d} {
      display: $d !important;
    }
  }
}

@mixin generate-flex-direction-utilities {
  @each $dir in $flex-directions {
    .flex-#{$dir} {
      @extend .d-flex;
      flex-direction: $dir !important;
    }
  }
}

@mixin generate-justify-content-utilities {
  @each $key, $val in $justify-content-values {
    .justify-content-#{$key} {
      @if ($key == center) {
        justify-content: safe $val !important;
      } @else {
        justify-content: $val !important;
      }
    }
  }
}

@mixin generate-full-screen {
  .full-screen {
    width: $full-screen-width;
    height: $full-screen-height;
  }
}

// mixin modules
@mixin border($size: normal, $type: solid, $color: $black) {
  border: map-get($border-thickness, $size) $type $color;
  @content;
}

@mixin border-dir($dir: null, $size: normal, $type: solid, $color: $black) {
  border-#{$dir}: map-get($border-thickness, $size) $type $color;
  @content;
}

@mixin font($size: normal, $weight: normal, $style: normal) {
  font-size: map-get($font-sizes, $size);
  font-weight: map-get($font-weights, $weight);
  font-style: map-get($font-styles, $style);
  @content;
}

@mixin same-dimensions-toParent {
  width: 100%;
  height: 100%;
}

@mixin transition-setting($property: null, $duration: 0.5s, $t-function: ease, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $t-function;
  transition-delay: $delay;
  @content;
}

@mixin transition-all-in-one($values...) {
  transition: $values;
}

@mixin transform($values...) {
  $inserted-value: '';

  @each $value in $values {
    @if (index($values, $value) !=1) {
      $inserted-value: $inserted-value + ' ' + $value;
    }

    @else {
      $inserted-value: $value;
    }
  }

  transform: $inserted-value;
}

@mixin spacing($type: margin, $dir: null, $props...) {
  $inserted-props: '';

  @each $prop in $props {
    $inserted-props: $inserted-props + $prop + ' ';
  }

  #{$type}#{$dir}: unquote($inserted-props);
}

@mixin set-z-index($position: relative, $z-value: 0) {
  position: $position;
  z-index: $z-value;
}


// Specific mixins
@mixin base-dimensions {
  width: $base-width;
  height: $base-height;
  min-width: $base-min-width;
  min-height: $base-min-height;
}

@mixin base-bg {
  background-color: $base-bg-color;
}

@mixin title-box-dimensions {
  width: $title-box-width;
  height: $title-box-height;
}

@mixin title-up-box-dimensions {
  width: $title-up-box-width;
  height: $title-up-box-height;
}

@mixin contents-box-dimensions {
  width: $contents-box-width;
  height: $contents-box-height;
}

@mixin nav-box-dimensions {
  width: $nav-box-width;
  height: $nav-box-height;
}

@mixin section-box-dimensions {
  width: $section-box-width;
  height: $section-box-height;
}

@mixin article-box-dimensions {
  width: $article-box-width;
  height: $article-box-height;
}

@mixin character-main-dimensions {
  width: $character-main-width;
  height: $character-main-height;
  min-width: $character-main-min-width;
}

@mixin line-box-dimensions {
  width: $line-box-width;
  height: $line-box-height;
}

@mixin character-item-dimensions {
  width: $character-item-size;
  height: $character-item-size;
}

// Combinators 
@mixin generate-base {
  #base {
    @include base-dimensions;
    @include base-bg;
    @extend .d-flex;
  }
}

@mixin generate-title_box {
  .title_box {
    @include title-box-dimensions;
    @extend .flex-column;
    @include border-dir($dir: right, $size: normal, $color: lightgray);

    @include generate-title_up_box;
    @include generate-title_down_box;
  }
}

@mixin generate-title_up_box {
  .title_up_box {
    @include title-up-box-dimensions;

    @include font(large, bold, italic) {
      line-height: map-get($line-heights, title);
      color: $light-gray;
    }

    @extend .flex-column;

    p {
      font-family: $font-title;
      text-align: $center-align;
    }
  }
}

@mixin generate-title_down_box {
  .title_down_box {
    width: $title-down-box-width;
    text-align: $center-align;
    @include spacing(margin, map-get($dirs-v, bottom), calc($px-10 * 2));

    @include font(small) {
      line-height: map-get($line-heights, footer);
      color: $light-gray;
    }
  }
}

@mixin generate-contents_box {
  .contents_box {
    @include contents-box-dimensions;
    @extend .flex-column;

    @include generate-nav_box;
    @include generate-section_box;
  }
}

@mixin generate-nav_box {
  .nav_box {
    @include nav-box-dimensions;
    @include border-dir($dir: bottom, $size: normal, $color: lightgray);
    position: map-get($pos-types, relative);

    img {
      width: calc($px-10 * 3);
      position: map-get($pos-types, absolute);
      bottom: $px-10;
      right: $px-10;
    }
  }
}

@mixin generate-section_box {
  .section_box {
    @include section-box-dimensions;
    @extend .d-flex;

    @include generate-article_box;
  }
}

@mixin generate-article_box {
  .article_box {
    @include article-box-dimensions;
    opacity: nth($opacities, 5); // 0.4
    background-image: url(#{$article-bg-image-url});

    @include generate-inner_article_box;
    @include generate-mask($isWithImage: true);
  }
}

@mixin generate-inner_article_box {
  .inner_article_box {
    @include same-dimensions-toParent;
    @extend .flex-column;
    float: nth($dirs, 4); // left
    @include set-z-index(map-get($pos-types, relative), calc(nth($digits, 1) * 10));
    @include spacing(padding, null, calc($px-10 * 7), calc($px-10 * 4));

    .text_box {
      color: $light-gray;

      * {
        @include spacing(margin, map-get($dirs-v, bottom), calc($px-10 + $px-5));
      }
    }

    img {
      @include transition-setting($duration: 0.5s) {
        transform-origin: nth($dirs, 3) nth($dirs, 4);
      }

      width: map-get($rel-size, "100%");
      display: nth($displays, 4); // block
    }
  }
}

@mixin generate-mask($isWithImage: false) {
  &::after {
    @include same-dimensions-toParent;
    display: nth($displays, 4); // block
    content: $none_string;
    background-color: $base-bg-color;

    @include transition-setting(transform, 0.5s, ease) {
      transform-origin: nth($tf-origin, 2); // right
    }
  }

  &:hover {
    opacity: nth($opacities, 11); // 1

    &::after {
      @include transform($scaleX-0);
    }

    @if ($isWithImage) {
      img {
        @include transform($scale-120);
      }
    }
  }
}

@mixin generate-bg-color-cde8ff {
  .bg-color-cde8ff {
    @include same-dimensions-toParent;
    background-color: $character-bg-color;
    @include set-z-index(map-get($pos-types, fixed), $zero);
    top: $zero;
    left: $zero;
  }
}

@mixin generate-character_main {
  #main {
    @include character-main-dimensions;
    @include set-z-index(map-get($pos-types, relative), calc(nth($digits, 1) * 10));
  }
}

@mixin generate-line_box {
  .line_box {
    @include line-box-dimensions;
    @include spacing(margin, map-get($dirs-v, bottom), $px-10);
    @extend .d-flex;
  }
}

@mixin generate-character-item {
  $transition-1: (transform 0.1s ease);
  $transition-2: (background-color 0.5s);

  .item {
    @include character-item-dimensions;
    @include spacing(margin, null, $zero, $px-5);

    @include border(calc($px-5 - $px-1), map-get($line-types, solid), $white) {
      border-radius: $px-10;
    }

    background-color: $light-gray;
    @include transform(nth($skewX-12, 1));
    @include transition-all-in-one($transition-1, $transition-2);
    overflow: nth($overflow-types, 1); // hidden

    @include generate-item-hover;
    @include generate-item-img;
  }
}

@mixin generate-item-hover {
  &:hover {
    @include transform(nth($skewX-12, 1), $scale-120);
    background-color: $orange;
  }
}

@mixin generate-item-img {
  img {
    display: nth($displays, 4); // block
    @include same-dimensions-toParent;

    transform: nth($skewX-12, 2);
    object-fit: cover;
  }
}